main, footer{
    width: 40vw;
    margin:0 auto;

}

.logo{width: 8rem;}


header{text-align: center;}

header hr{border-top: 1px solid #FEECBC ;}

main hr{border-top: 1px solid #C4F3F2}

header div{background-color: #FDFBF1; color: #004D4C; }

body{font-family: Georgia, 'Times New Roman', Times, serif;}

h1, .video{text-align: center;}

.video{color: #999999;}

.p1{color: #B5460F;}

ul li {
    margin-bottom: 5px;
}

a:link{
    color: #107777;
}






